
.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; 
    background-color: #319795;
    padding: 1em;

}

.form-container form { 
    width: 60%;
    padding: 1em;
}

.form-container form h1 { 
    margin-bottom: 1em;
}

.form-container form button, input[type="text"] {
    outline: 0;
    border: 0; 
    padding: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-container form input[type="text"] { 
    width: 68%;
}

.form-container form button {
    font-size: 14px;
    font-weight: bold;
    margin-left:1em ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-container form button:hover {
    background: #57ece955;
}


@media only screen and (max-width: 600px) {
    .form-container form {
      width: 100%;
    }
  }